@{
    ViewData["Title"] = "Home Page";
}


<!--Banner Img-->
<div class="container-fluid p-0 m-0">
    <img src="~/img/MainBanner.png" alt="Main Banner" class="img-fluid bannerimg w-100" style="height:70vh;position:center">
</div>

<div class="container" style="margin-top:5%">

    <!--Categories row-->
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="text-center">
                <label style="font-size:150%" class="fw-bold CategoryText">CATEGORIES</label>
            </div>

        </div>
    </div>

    <!--Category Cards-->
    <div class="row" style="margin-top:3%">

        <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center">

            <div class="card" style="width:18rem">
                <img src="/img/mens.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gents Items</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    <a class="btn btn-primary" asp-action="">Gents</a>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center">

            <div class="card d-flex" style="width: 18rem;">
                <img src="/img/Ladies.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ladies Items</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    <a asp-action="" class="btn btn-primary">Ladies</a>
                </div>
            </div>

        </div>

        <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 d-flex justify-content-center">

            <div class="card d-flex" style="width: 18rem;">
                <img src="/img/kids.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kids Items</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    <a asp-action="" class="btn btn-primary">Kids</a>
                </div>
            </div>

        </div>


    </div>

    <!--new arrivals-->
    <div class="row" style="margin-top:5%">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="text-center">
                <label style="font-size:150%" class="fw-bold CategoryText">NEW ARRIVALS</label>
            </div>

        </div>
    </div>

    <!--Category Cards-->
    <div class="row" style="margin-top:3%">

       

      
    </div>

</div>
