<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VelvetVogue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VelvetVogue.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="Mysticky">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom  mb-3">

            <div class="container">

                <!--brand name-->
                <a class="navbar-brand fw-bold" style="font-size:130%" asp-area="" asp-controller="Home" asp-action="Index">Velvet Vogue</a>

                <!--Hamburger btn-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#MainNav" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--My code-->
                <div class="navbar-collapse collapse " id="MainNav">

                    <ul class="navbar-nav ms-auto gap-3">

                        <li class="nav-item NavBarTextAlignment">
                            <a class="text-decoration-none  NavBarText" asp-area="" asp-controller="" asp-action="">INQUIRIES</a>
                        </li>

                        <li class="nav-item NavBarTextAlignment">
                            <a class="text-decoration-none  NavBarText" asp-area="" asp-controller="Home" asp-action="Services">ABOUT US</a>
                        </li>

                        <li class="nav-item NavBarTextAlignment">
                            <a class="text-decoration-none NavBarText NavBarTextAlignment" asp-area="" asp-controller="" asp-action="">CONTACT US</a>
                        </li>

                       
                        <!--Admin || dropdown-->
                        <li class="nav-item dropdown NavBarTextAlignment" style="">
                           
                           
                            <a class="dropdown-toggle text-decoration-none NavBarText" style="color:black;" data-bs-toggle="dropdown">ADMIN</a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" style="color:black">Login</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" style="color:black">Logout</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" style="color:black">Login Configurations</a>
                                </li>
                            </ul>
                        </li>

                        

                    </ul>


                </div>

            </div>

        </nav>

        <!--Second NavBar-->
        <nav class="navbar box-shadow">

            <div class="container d-flex justify-content-center">

                <div class="">

                    <ul class="navbar-nav d-flex flex-row gap-3">

                        <li>
                            <a asp-controller="" asp-action="" class="NavBarText nav-link">MENS</a>
                        </li>

                        <li>
                            <a asp-controller="" asp-action="" class="NavBarText nav-link">WOMENS</a>
                        </li>

                        <li>
                            <a asp-controller="" asp-action="" class="NavBarText nav-link">KIDS</a>
                        </li>

                    </ul>

                </div>

            </div>


        </nav>

       
    </header>

    <div class="container-fluid p-0 m-0">

        <main role="main">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; 2025 - VelvetVogue - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
