@{
    @model VelvetVogue.Models.ViewModels.MainLoginViewModel
}

<div class="container">

    <!--row 01 -->
    <div class="CardAlignment">

        <!--Border-->
        <div class="Customborder">

            <!--icon-->
            <div style="padding-top:3%">
                <div class=" d-flex justify-content-center">
                    <div>
                        <img src="~/img/Login.png" /><br />

                    </div>


                </div>
            </div>

            <!--icon label-->
            <div  style="padding-top:1%">
                <div class=" d-flex justify-content-center">
                    <div>

                        <label style="color:slategray">LOGIN</label>
                    </div>


                </div>
            </div>

            <!--Username-->
            <div  style="padding-top:7%">
                <div >
                    @*  <div>
                        <label class="fonts labelAligment"> Username</label>
                         
                    </div> *@

                    <div class="TextBoxAligment">
                        <input type="text" placeholder="Username" class="form-control TextboxesSize TextBoxBorderStyle" />
                    </div>
                </div>
            </div>

            <!--Password-->
            <div style="padding-top:9%">
                <div >
                    @* <div>
                        <label class="fonts labelAligment">Password</label>

                    </div> *@

                    <div class="TextBoxAligment">
                        <input type="password" placeholder="Password" class="form-control TextboxesSize TextBoxBorderStyle" />
                    </div>
                </div>
            </div>

            <!--Remember my login-->
            <div  style="padding-top:2%">
                <div>
                   
                    <div class="TextBoxAligment">
                        <input type="checkbox" />
                        <label style="color:slategray">Remember my login details</label>
                    </div>
                </div>
            </div>

            <!--hr-->
            <div style="padding-top:5%">
                <div>
                    <hr />
                </div>
            </div>

            <!--btnSave-->
            <div style="padding-bottom:3%">
                <div>
                    <div style="display:flex;justify-content:center">
                        <button type="submit" class="btn btn-primary btnSave">LOGIN</button>
                    </div>

                </div>
            </div>

            <!--I dont have a login-->
            <div style="padding-bottom:3%">
                <div>

                    <div style="display:flex;justify-content:center">
                        <a asp-controller="AddNewLogin" class="text-decoration-none" style="color:gray">I dont have a login</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <!--Use for fix bug (box shadow not showing issue)-->
    <div class="row" style="margin-top:5%">

    </div>
</div>
