
@{

}

<div class="container">

    <div class="row" style="margin-top:4%;padding-bottom:5%">

        <!--Left side-->
        <div class="col-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">

            <div>
                <label style="font-size:110%">Contact Information</label>
            </div>

            <!--Location-->
            <div>
               

                <div style="margin-top:3%">
                    <img src="~/img/location.png" />

                    <label class="fontsHeadings">Visit US</label>

                </div>

                <div style="padding-top:3%">
                    <label class="fonts">
                        123 Fashion Avenue
                        New York, NY 10001
                    </label>
                </div>
            </div>

            <!--call-->
            <div style="padding-top:2%">
                
                <div style="margin-top:3%">
                    <img src="~/img/telephone-call.png" />

                    <label class="fontsHeadings">Call US</label>

                </div>

                <div style="padding-top:3%">
                    <label class="fonts">
                        +1 (555) 123-4567
                    </label>
                </div>
            </div>

            <!--email-->
            <div style="padding-top:2%">

                <div style="margin-top:3%">
                    <img src="~/img/telephone-call.png" />

                    <label class="fontsHeadings">Email US</label>

                </div>

                <div style="padding-top:3%">
                    <label class="fonts">
                        info@yourstore.com<br />
                        support@yourstore.com
                    </label>
                </div>
            </div>
           


        </div>

        <!--Right side-->
        <div class="col-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">

            <div class="MyCard">

                <div style="padding-top:8%">
                    <label style="font-size:120%;font-weight:inherit">Send Us a Message</label>
                </div>

                <div style="padding-top:2%">
                    <label>Fill out the form below and we'll get back to you as soon as possible.</label>
                </div>

                <!--Full name-->
                <div style="padding-top:3%">
                    <label style="font-size:110%;font-weight:bold">Full Name</label>
                </div>
                <div>
                    <input type="text" class="form-control" style="width:95%" placeholder="Full Name" />
                </div>

                <div class="row">

                    <!--Phone Number-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                        <!--Phone Number-->
                        <div style="padding-top:3%">
                            <label style="font-size:110%;font-weight:bold">Phone Number</label>
                        </div>
                        <div>
                            <input type="text" class="form-control" style="width:90%" placeholder="Phone Number" />
                        </div>

                    </div>

                    <!--Email-->
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                        <!--Email-->
                        <div style="padding-top:3%">
                            <label style="font-size:110%;font-weight:bold">Email</label>
                        </div>
                        <div>
                            <input type="text" class="form-control" style="width:90%" placeholder="Email" />
                        </div>

                    </div>

                </div>

                <!--Message-->
                <div class="row">

                    <div class="col-12 col-md-12 col-xl-12 col-lg-12 col-xxl-12">
                       
                        <div style="padding-top:3%">
                            <label style="font-size:110%;font-weight:bold">Message</label>
                        </div>
                        <div>
                            <textarea class="form-control" style="width:95%;resize:none" placeholder="Tell us how we can help you... " rows="3"></textarea>
                        </div>
                    </div>

                </div>

                <!--btnSend Message-->
                <div class="row" style="padding-top:3%;padding-bottom:5%">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <button type="submit" class="btn btn-primary" style="background-color:black;border-color:black;font-weight:bold;border-radius:5px">Send Message</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>