html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.NavBarText{
    color:black;
    font-size:100%;
    font-weight:bold;
}

.NavBarText:hover{
    color:deepskyblue;
}

.CategoryText:hover {
    color: deepskyblue;
}

.NavBarTextAlignment {
    padding-top: 2.7%;
}

.Mycard {
    width: 22rem;
    transition: transform 0.5s ease;
}

.Mycard:hover {

     transform: scale(1.05);
     box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.brandsSize {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.brandsSize:hover{
    transform:scale(1.05);
}
/*#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height:100px;
    object-fit: cover;
}*/


 

