html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html,body{
    overflow-x:hidden
}

.NavBarText{
    color:black;
    font-size:100%;
    font-weight:bold;
}

.NavBarText:hover{
    color:deepskyblue;
}

.CategoryText:hover {
    color: deepskyblue;
}

.NavBarTextAlignment {
    padding-top: 2.7%;
}

.Mycard {
    width: 22rem;
    transition: transform 0.5s ease;
}

.Mycard:hover {

     transform: scale(1.05);
     box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.brandsSize {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.brandsSize:hover{
    transform:scale(1.05);
}

.Mysticky {
    position: sticky;
    top: 0;
    z-index:1020;
    background-color:white;
}
/*#carouselExampleIndicators .carousel-item img {
    width: 100%;
    height:100px;
    object-fit: cover;
}*/

/*About us page*/
.clsAboutUs {
    font-size: 200%;
    color: black;
    margin-top: 15%;
}

.paragraph {
    font-size: 120%;
    color: black;
    margin-top: 5%;
}

.img {
    width: 90%;
    height: 50vh;
    margin-bottom: 10%;
    margin-top: 20%;
    transition: 0.8s ease;
    border-radius:25px;
}

.img:hover{
    transform:scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

@media (max-width:324px) {

    .img {
        width: 200%;
    }
}

@media (max-width:376px) {

    .img {
        width: 200%;
    }
}

@media (max-width:426px) {

    .img {
        width: 200%;
    }
}


/*Contact us page*/
.ContactUS {
    font-size: 55px;
}

.MclsContactUSRow02 {
    padding-top: 0%;
    margin-bottom: 15%;
    width:100%;
}

.MyclsFontSizeOfSM {
    font-size: 200%;
}

.MyclsLeftSideHeadeFonts {
    font-size: 250%;
    padding-left: 3%
}

.MyclsComonFontsSizes {
    font-size: 150%;
   
}

.MyAddItemsCard {
    border: solid;
    border-color: black;
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
   
}

.MycardOfContactUs {

    width:100%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2),-8px -8px 16px rgba(0,0,0,0.2);
}

/*Add new login page*/
.Customborder {
    border-radius: 25px;
    /*  border-style: solid;
    border-color: none;*/
    width: 40%;
    margin-top: 4%;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2),-8px -8px 16px rgba(0,0,0,0.2);
}

@media (max-width:321px){
    .Customborder{
        width:95%;
        
    }
}

@media (max-width:376px) {
    .Customborder {
        width: 95%
    }
}

@media (max-width:426px) {
    .Customborder {
        width: 95%;
    }
}

.CardAlignment{

   display:flex;
   justify-content:center;
}

.fonts{
    font-weight:bold;
    font-size:110%
}

.TextboxesSize{
    width:90%;
}

.labelAligment{
    padding-left:8%;
}

.TextBoxAligment{
    padding-left:8%
}

.TextBoxBorderStyle {

    border-left-style:none;
    border-right-style:none;
    border-top-style:none;
}

.btnSave {
    width: 90%;
    border-radius: 25px;
    font-weight: bold;
    font-size: 100%;
}

/*DetailsCard (gents / womens,kids)*/
.card{
    transition:0.5s
}

.card:hover {
      transform: scale(1.05);
      box-shadow: 8px 8px 16px rgba(0,0,0,0.2),-8px -8px 16px rgba(0,0,0,0.2)
}

/*Inquiry pag*/
.fontsHeadings{
    font-size:180%;
    padding-left:5%;
    font-weight:bold;
}

.fonts{
    font-size:130%;
    font-weight:inherit
}

.MyCard {
    /* border-style:solid;
    border-color:black;*/
    border-radius: 10px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.2),-8px -8px 16px rgba(0,0,0,0.2);
    padding-left:6%;
}

/*address Items page*/
.AddItemCard{

    border-radius:10px;
    border-color:lightgray;
    border-style:solid;
    border-width:1px;

    padding-left:3%;
    padding-top:3%;
    padding-right:3%;
    padding-bottom:3%

}

.fonts{
    font-size:100%;
    font-weight:bold;
}

/*.form-control{

    background-color:lightgrey

}*/